/* Container styling */
.forgot__password {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Form group styling */
  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Country code select styling */
  #countryCode {
    width: 25px;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #333;
    font-size: 14px;
  }
  
  /* Mobile number input styling */
  input[type="number"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #333;
    font-size: 14px;
  }
  
  /* Sign In link styling */
  .sign-in-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .sign-in-link button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
  }
  
  .sign-in-link button:hover {
    color: #0056b3;
  }
  