/* Container styling */
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Header styling */
  .signup-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  /* Country Code styling */
  #countryCode {
    flex: 1;
    padding: 10px;
    margin: 5px 10px 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  /* Input styling */
  input[type="number"],
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    flex: 2;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="number"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  
  /* Password strength styling */
  .password-strength {
    margin: 5px 0;
  }
  
  progress {
    width: 100%;
    height: 10px;
    border: none;
    border-radius: 5px;
  }
  
  progress::-webkit-progress-value {
    background: linear-gradient(to right, red, green);
  }
  
  /* Strength text styling */
  .strength-text {
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
  }
  
  /* Checkbox label styling */
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Sign Up button styling */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
 
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Sign In button styling */
  .sign-in-link button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .sign-in-link button:hover {
    color: #0056b3;
  }
  