/* Apply basic styles to the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  /* Create the left and right columns */
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  
  .left-side {
    width: 30%;
  }
  
  .right-side {
    width: 68%; /* Leave some space for margin */
  }
  
  /* Style the user image */
  .user-image img {
    width: 100px;
    height: auto;
    border: 2px solid #333;
    border-radius: 50%;
  }
  
  /* Style buttons */
  .change__button, .update__button {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 60px;
    font-weight: bold;
  }
  
  .change__button:hover, .update__button:hover {
    background-color: #0056b3;
  }
  
  /* Style user information */
  h2, p {
    margin: 0;
    padding: 5px;
  }

  
  