/* VerifyOtp.css */
.verify-otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:250px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.verify-otp-form {
  text-align: center;
}

.verify-otp-label {
  font-weight: bold;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}

.verify-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.verify-button:hover {
  background-color: #0056b3;
}
